.header{
    height: 80px;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
}
.header img{
    height: 80px;
}
.flex{
    display: flex;
    align-items: center;
}
.header a{
    text-decoration: none;
    margin-left: 36px;
}